@media screen and (max-width: 490px) {

    header {
        display: inline-block;
        max-height: 75%;
    }

    body {
        line-height: 125%;
    }
}

body {
    background: #1e1e1e;
    color: #ffffff;
    margin: 10%;
    padding: 5%;
    text-align: left;
    font-family: "Jost", sans-serif;
    font-size: 140%;
}

.heart {
    height: 30px;
    transform: translateY(25%);
    padding-right: 3%;
    position: page;
}

header {
    color: #ffffff;
    font-size: 250%;
    font-family: "Comfortaa", sans-serif;
    user-select: none;
}

.maeko {
    background-color: #bdbdbd;
    background-image: linear-gradient(45deg, #d1dfff, #e8e8e8);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dot {
    color: #ffffff;
}

.dotch {
    background-color: #ffffff;
    background-image: linear-gradient(#76aaff, #fa9cff, #a199ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    font-size: 80%;
}

.flag {
    height: 25px;
    transform: translateY(20%);
}

.lh,
.contact {
    font-size: 100%;
    font-weight: lighter;
}

.dd {
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #7fbdfb, #e780ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.signl {
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign {
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

.socials a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

.socials a:hover {
    text-decoration: underline;
    color: #a3c0f4;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
}

.mail {
    color: #ffffff;
}

.at {
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: revert;
    text-decoration: none;
    transform: translateY(25%);
}

.mail:hover {
    text-decoration: underline;
    color: #a3c0f4;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;

}