@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
$m-font: 'Dongle', sans-serif;

@media only screen and (max-width: 768px) {
  body {
    scale: 0.8;
  }
  .footer {
    height: auto;
  }
}

// color palette :3
$cadet-gray: #8aabbf;
$rose: #f42272;
$black: #0e0e0e;
$tea-rose: #efc7c2;

$neutral: #ffff;
$onyx: rgba(62, 62, 62, 0.47);

body {
  scale: 1.0;
  background-color: $black;
  margin: 0;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: $neutral;
  font-family: $m-font;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 200%;
}
.boccher {
  pointer-events: none;
}
.info {
  font-size: 110%;
  margin-bottom: 0.5em;
}

.socials:after {
  margin-top: 10%;
  content: " ";
  display: block;
  border-top: 3px solid $onyx;
  border-bottom: 2px solid $onyx;
  border-radius: 5px;
}

.socials {
  font-size: 80%;
  margin-top: 0.01em;
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a, a:visited {
    color: $neutral;
  }
}

.contact {
  text-decoration: none;
  font-size: 80%;
  margin-top: 0.01em;
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a, a:visited {
    color: $neutral;
  }

}

.pgp {
  color: $rose !important;

}
a.sr::after {
  content: "•";
  color: $tea-rose;
  font-size: 65%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  font-family: $m-font;
  font-size: 80%;

  a {
    color: $neutral;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}