$color_1: #ffffff;
$color_2: #a3c0f4;
$font-family_1: "Jost", sans-serif;
$font-family_2: "Comfortaa", sans-serif;
$background-color_1: #bdbdbd;
$background-color_2: #ffffff;

@media screen and (max-width: 490px) {
  header {
    display: inline-block;
    max-height: 75%;
  }
  body {
    line-height: 125%;
  }
}
body {
  background: #1e1e1e;
  color: $color_1;
  margin: 10%;
  padding: 5%;
  text-align: left;
  font-family: $font-family_1;
  font-size: 140%;
}
.heart {
  height: 30px;
  transform: translateY(25%);
  padding-right: 10px;
  position: page;
}
header {
  color: $color_1;
  font-size: 250%;
  font-family: $font-family_2;
  user-select: none;
}
.maeko {
  background-color: $background-color_1;
  background-image: linear-gradient(45deg, #d1dfff, #e8e8e8);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dot {
  color: $color_1;
}
.dotch {
  background-color: $background-color_2;
  background-image: linear-gradient(#76aaff, #fa9cff, #a199ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pho {
  font-size: 100%;
}
.text {
  font-size: 90%;
}
.flag {
  height: 25px;
  transform: translateY(20%);
}
.lh {
  font-size: 100%;
  font-weight: lighter;
}
.contact {
  font-size: 100%;
  font-weight: lighter;
}
.dd {
  background-color: $background-color_2;
  background-image: linear-gradient(90deg, #7fbdfb, #e780ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}
.signl {
  background-color: $background-color_2;
  background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sign {
  background-color: $background-color_2;
  background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}
a {
  &:link {
    text-decoration: none;
    color: $color_1;
  }
  &:visited {
    text-decoration: none;
    color: $color_1;
  }
}
.socials {
  a {
    &:link {
      text-decoration: none;
      color: $color_1;
    }
    &:hover {
      text-decoration: underline;
      color: $color_2;
      transition: all .4s;
      -moz-transition: all .4s;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
    }
  }
}
.mail {
  color: $color_1;
  &:hover {
    text-decoration: underline;
    color: $color_2;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
  }
}
.at {
  background-color: $background-color_2;
  background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: revert;
  text-decoration: none;
  transform: translateY(25%);

  .wh {
    background-color: $background-color_2;
    background-size: 100%;
    -webkit-background-clip: text;
  }

}
.status {
  position: absolute;
  bottom: 1.5%;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    color: #fff73f;
    text-decoration: underline;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
  }
}

