$color_1: #ffffff;
$color_2: #a997df;
$color_3: #ed254e;
$color_4: #c3fcff;
$font-family_1: "Jost", sans-serif;
$font-family_2: "Comfortaa", sans-serif;
$background-color: #1c1d21;


@media screen and (max-width: 490px) {
  header {
    display: inline-block;
    max-height: 75%;
  }
  body {
    line-height: 125%;
  }
}
body {
  background: $background-color;
  color: $color_1;
  margin: 10%;
  padding: 5%;
  text-align: left;
  font-family: $font-family_1;
  font-size: 130%;
}
.heart {
  height: 30px;
  transform: translateY(25%);
  padding-right: 10px;
  position: page;
}
header {
  color: $color_1;
  font-size: 250%;
  font-family: $font-family_2;
  user-select: none;
}
.maeko {
  background-image: linear-gradient(190deg, #ffff, #ccc9c9);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dot {
  color: $color_1;
}
.dotch {
  background-image: linear-gradient(#87182e, #ed254e);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pho {
  font-size: 100%;
}
.text {
  font-size: 90%;
}
.flags {
  height: 25px;
  transform: translateY(25%);
  margin-right: -0.05%;
}
.lh {
  font-size: 100%;
  font-weight: lighter;
}
.contact {
  font-size: 100%;
  font-weight: lighter;
}
.dd1 {
  color: $color_2;
  user-select: none;
  font-size: 120%;
}
.dd2 {
  color: $color_4;
  user-select: none;
  font-size: 120%;
}
.signl {
  background-image: linear-gradient(90deg,grey, white);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.special {
  text-decoration: underline 10%;
  text-decoration-color: $color_3;
}
.sign {
  background-color: $color_1;
  background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}
a {
  &:link {
    text-decoration: none;
    color: $color_1;
  }
  &:visited {
    text-decoration: none;
    color: $color_1;
  }
}
.socials {
  a {
    &:link {
      text-decoration: none;
      color: $color_1;
    }
    &:hover {
      text-decoration: underline 10%;
      color: $color_2;
      transition: all .4s;
      -moz-transition: all .4s;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
    }
  }
}
.mail {
  color: $color_1;
  &:hover {
    text-decoration: underline 10%;
    color: $color_4;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
  }
}
.at {
  background-color: $color_1;
  background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: revert;
  text-decoration: none;
  transform: translateY(25%);

  .wh {
    background-color: $color_1;
    background-size: 100%;
    -webkit-background-clip: text;
  }

}
.status {
  visibility: hidden;
  position: absolute;
  bottom: 1.5%;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    color: $color_4;
    text-decoration: underline 10%;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
  }
}


