@media screen and (max-width: 490px) {
  header {
    display: inline-block;
    max-height: 75%;
  }
  body {
    line-height: 125%;
  }
}
body {
  background: #1e1e1e;
  color: #ffffff;
  margin: 10%;
  padding: 5%;
  text-align: left;
  font-family: "Jost", sans-serif;
  font-size: 140%;
}

.heart {
  height: 30px;
  transform: translateY(25%);
  padding-right: 10px;
  position: page;
}

header {
  color: #ffffff;
  font-size: 250%;
  font-family: "Comfortaa", sans-serif;
  user-select: none;
}

.maeko {
  background-color: #bdbdbd;
  background-image: linear-gradient(45deg, #d1dfff, #e8e8e8);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dot {
  color: #ffffff;
}

.dotch {
  background-color: #ffffff;
  background-image: linear-gradient(#76aaff, #fa9cff, #a199ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pho {
  font-size: 100%;
}

.text {
  font-size: 90%;
}

.flags {
  height: 25px;
  transform: translateY(25%);
}

.lh {
  font-size: 100%;
  font-weight: lighter;
}

.contact {
  font-size: 100%;
  font-weight: lighter;
}

.dd {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #7fbdfb, #e780ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

.signl {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.special {
  text-underline: #ffffff;
  text-decoration: underline;
}

.sign {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  text-decoration: none;
  color: #ffffff;
}

.socials a:link {
  text-decoration: none;
  color: #ffffff;
}
.socials a:hover {
  text-decoration: underline;
  color: #a3c0f4;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.mail {
  color: #ffffff;
}
.mail:hover {
  text-decoration: underline;
  color: #a3c0f4;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.at {
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #a8a8a8, #9a9a9a);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: revert;
  text-decoration: none;
  transform: translateY(25%);
}
.at .wh {
  background-color: #ffffff;
  background-size: 100%;
  -webkit-background-clip: text;
}

.status {
  position: absolute;
  bottom: 1.5%;
  left: 50%;
  transform: translateX(-50%);
}
.status:hover {
  color: #fff73f;
  text-decoration: underline;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}

/*# sourceMappingURL=styles.css.map */
