@media screen and (max-width: 600px) {
    .flandre {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 490px) {
    .prn {
        visibility: hidden;
        display: none;
    }

    header {
        display: inline-block;
        max-height: 75px;
    }

    body {
        line-height: 125%;
    }
}

@media screen and (max-height: 800px) {
    .flandre {
        visibility: hidden;
        display: none;
    }
}

body {
    background: #1c1c1e;
    color: #ffffff;
    margin: 10%;
    padding: 5%;
    text-align: left;
    font-family: "Jost", sans-serif;
    font-size: 140%;
}

.heart {
    height: 55px;
    transform: translateY(25%);
    user-select: none;
}

header {
    color: honeydew;
    font-size: 250%;
    font-family: "Afacad", sans-serif;
    margin-bottom: 0;
    user-select: none;
}

.maeko {
    text-shadow: #818181;
    background-color: #bdbdbd;
    background-image: linear-gradient(45deg, #ffffff, #bdbdbd);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dot {
    color: honeydew;
}

.dotch {
    background-color: #ff2929;
    background-image: linear-gradient(45deg, #ff0000, #8d0000);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prn {
    display: inline-block;
    font-size: 25%;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #bbbbbb, #818181);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    font-size: 20px;
}

.flag1 {
    height: 30px;
    transform: translateY(20%);
}

.lh,
.contact {
    font-size: 100%;
}

.dd {
    background-color: yellow;
    background-image: linear-gradient(45deg, yellow, darkorange);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

.slash {
    color: gray;
    user-select: none;
}

a:link {
    text-decoration: none;
    color: honeydew;
}

.socials a:link {
    text-decoration: none;
    color: honeydew;
}

a:visited {
    text-decoration: none;
    color: honeydew;
}

.socials a:hover {
    text-decoration: underline;
    color: #b60000;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
}

.mail {
    color: honeydew;
}

.at {
    color: #989898;
    position: relative;
    top: 2px;
}

.mail:hover,
.at:hover {
    text-decoration: underline;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
}

.flandre {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
}
